## python

**python** is really cool 

- python
    - pandas
        - depth1
    - numpy
- java

> 파이썬은 재밌다고 하더라...

$y=3x$

```python 

a=10
print(a)
```

파란색인 상태에서 h를 누르면 도움말이 나온다.

[파이썬 링크](https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%8D%AC)

In [1]:
print("반갑습니다")

print("반갑습니다")

반갑습니다
반갑습니다

In [2]:
x=1

In [3]:
print(x+2)

3

In [4]:
# sum=0
# sum=1
# sum=sum+1
# print(sum)

sum=0
for i in range(1,6):
    sum=sum+i
print(sum)
print(5*(5+1)/2)

15
15.0

In [5]:
print("hello world")

hello world

In [7]:
print("hello world");print("123")

hello world
123

In [14]:
a=1
if a==1:
    print("1입니다")

1입니다

In [15]:
x=111
x=4.1E5 #4.1 * 10의 5승 => 실수형
x=4.1e-5 #4.1 * 10의 -5승 => 실수형
print(x)

410000.0

In [18]:
x=0o17 #8진수 17을 의미 #8의 1승*1 + 8의0승*7 = 15
print(x) #10진수로 변환되어 출력

15

In [20]:
# 0x붙인다  #16진수 0,1,2,3,...9,A,B,C,D,E,F,10,11,....
x=0xE
print(x)

14

In [24]:
print(4+2)
print(4-2)
print(5/2)

6
2
2.5

In [25]:
5//2 #정수

2

In [28]:
5.5//2 #몫만 나옴

2.0

In [29]:
4//2.0  #한쪽만 실수가 있어도 실수로 나옴

2.0

In [32]:
2**3 # 2의 3승(거듭제곱)

8

In [34]:
print(5//3) #몫
print(5%3) #나머지

1
2

In [45]:
#데이터를 정수로 변환
print(int(5//2.0))
#문자열 -> 정수로 변환
print(int('5')+1)
print('5'+'1')
#print(int("5.1"))은 에러발생 

print(float("5.1")) #숫자(실수)로된 문자를 숫자로

2
6
51
5.1

In [48]:
# 몫 : // , 나머지 : % 
# divmod() #몫과 나머지를 동시에 구하는 함수
divmod(5,3) #5를 3으로 나눈 몫과 나머지를 구해라

#함수명() : 함수
#(,) : 튜플(자료형 중의 하나)

(1, 2)

In [53]:
m,n=divmod(5,3) #다른 언어에서는 에러가 남. 파이썬에서는 정상 작동
print(m)
print(n)

1
2

In [59]:
res=divmod(5,3)
print(res)
print(res[0])

(1, 2)
1

In [62]:
print(type(3.14))
#3.14

<class 'float'>

In [66]:
float(5) #강제로 실수형으로 변경
type(float(5))
float(1+3)
float(3.14)

3.14

In [67]:
(1+2)*3
#연산자 우선순위가 헷갈리면? 괄호로 묶어라

9

In [68]:
x,y,z=1,2,3
print(z)

3

In [ ]:
a=b=1
#b=1 
#a=b

In [92]:
x=2
y=3

In [93]:
x,y=y,x

# t=y
# y=x
# x=t
#x와 y값이 서로 교환 
print(x)
print(y)

3
2

In [95]:
del x

NameError: name 'x' is not defined

In [96]:
a=3

In [97]:
print(a)

3

In [98]:
b=None #값이 없음을 의미
# None : 값이 들어가 있지 않은 변수를 선언

In [ ]:
a=3
#a=a+1, a=a-1
#a+=1, a-=1 =>축약형

In [99]:
x=-3
print(-x)

3

In [109]:
#변수 입력 
#x=3

i=int(input("첫번째 숫자를 입력한 후 엔터를 치세요 : "))
j=int(input("두번째 숫자를 입력한 후 엔터를 치세요 : "))

#in [*]은 실행 중이다를 의미

첫번째 숫자를 입력한 후 엔터를 치세요 : 5
두번째 숫자를 입력한 후 엔터를 치세요 : 3

In [110]:
print(i)
print(j)
print(i+j) #'5'+'3'=>'53'

5
3
8

In [113]:
x=input("단어를 2개 입력 : ") #x="hi hello"
a,b=x.split() #문자열을 공백으로 분리
#문자열에 대해 어떤 연산을 수행하고자 하는 경우에는
#문자열.함수이름()
# .은 구분자 역할

print(a)
print(b)

단어를 2개 입력 : hi hello
hi
hello

In [114]:
x=input("단어를 2개 입력 : ") #x="hi#hello"
a,b=x.split("#") #문자열을 #를 기준으로 분리
#문자열에 대해 어떤 연산을 수행하고자 하는 경우에는
#문자열.함수이름()
# .은 구분자 역할

print(a)
print(b)

단어를 2개 입력 : hi#hello
hi
hello

In [116]:
x=input("단어를 2개 입력 : ") #x="hi#hello"
a=x.split("h") #문자열을 #를 기준으로 분리
#문자열에 대해 어떤 연산을 수행하고자 하는 경우에는
#문자열.함수이름()
# .은 구분자 역할

print(a)

단어를 2개 입력 : happydayhihello
['', 'appyday', 'i', 'ello']

In [117]:
"hello"
'hello'
'''hello'''

'hello'

In [119]:
x="""
hello
"""
print(x)

hello

In [126]:
x="""Life
is 
too
short
You
need
Python"""

In [127]:
print(x)

Life
is
too
short
You
need
Python

In [136]:
x="Python's"

In [137]:
print(x)

Python's

In [138]:
he='"Python is easy." he says'
print(he)

"Python is easy." he says

In [140]:
s="Life\n is too\nshort" # \n은 줄바꿈
print(s)

Life
 is too
short

In [142]:
s="life"  #문자열을 원하는 횟수만큼 출력가능
print("-"*50)
print(s*5)
print("-"*50)

--------------------------------------------------
lifelifelifelifelife
--------------------------------------------------

In [144]:
s="life" #len은 length의 약자 #s의 문자열의 수를 구함
print(len(s))
s[2]
s[-1] #맨 뒤에서부터 첫번째 문자

4

'f'

In [146]:
s="Life is too short"
print(s[5]) # : 은 범위지정
print(s[5:]) #5번 index~ 마지막까지 
print(s[:3]) #맨 앞에서부터 3-1번 index까지
print(s[:])
print(s[5:-3])

i
is too short
Lif
Life is too short
is too sh

In [150]:
s="saience" #a-> c 
#s[1]="c" #문자 하나하나는 분리할 수 없다.

#바꿀거면
s[:1]+'c'+s[2:]

'science'