In [1]:
# insert함수 : 리스트 내의 특정 위치에 데이터를 삽입
a=[10,20,30]
a.append(100)

In [2]:
a

[10, 20, 30, 100]

In [3]:
a.insert(1, 15)

In [4]:
a

[10, 15, 20, 30, 100]

In [5]:
a.append([50,60])
a

[10, 15, 20, 30, 100, [50, 60]]

In [6]:
a.extend([70,80])
a

[10, 15, 20, 30, 100, [50, 60], 70, 80]

In [7]:
a=[10,20,10,20]

In [8]:
a.remove(10)

In [9]:
a

[20, 10, 20]

In [22]:
a=[10,20,30]

In [23]:
#pop : 가장 마지막 요소를 제거

#a.pop() #가장 마짐가 요소를 꺼낸다음 제거
data=a.pop() #가장 마지막 요소를 꺼낸다음 data변수에 저장
data

30

In [24]:
a

[10, 20]

In [17]:
a=[10,20,30]

In [18]:
a.pop(1)

20

In [19]:
a

[10, 30]

In [ ]:
# 튜플? 리스트와 거의 비슷. 
#리스트:[], 튜플:()
#리스트는 데이터를 생성, 수정, 삭제 등 수행
#튜플은 데이터를 변경할 수 없음

In [35]:
tup1=()
tup1
type(tup1)

# tup2=(1)
# tup2
# type(tup2) #int

tup2=(1,) # 컴마(,)
tup2
type(tup2)

tup3=(10,20,30)
tup3

tup4=1,2
tup4

(1, 2)

In [36]:
tup4

(1, 2)

In [20]:
#에러 발생의 경우
#del tup4[0]

In [41]:
l4=list(tup4) #튜플 -> 리스트

In [43]:
l4[1]=3
l4

[1, 3]

In [44]:
tup4=tuple(l4)
tup4

(1, 3)

In [45]:
tup5=(10,20,'가','나')
tup5

(10, 20, '가', '나')

In [47]:
tup5[3]
tup5[2:]

('가', '나')

In [49]:
print(tup5)
print(tup3)
tup5+tup3

(10, 20, '가', '나')
(10, 20, 30)

(10, 20, '가', '나', 10, 20, 30)

In [50]:
li1=[1,2]
li2=[3,4]
li1+li2

[1, 2, 3, 4]

In [51]:
li1*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [53]:
len(li1)

2

In [54]:
tup5*3

(10, 20, '가', '나', 10, 20, '가', '나', 10, 20, '가', '나')

In [55]:
len(tup5)

4

In [56]:
range(5) #0~4

range(0, 5)

In [57]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [58]:
tuple(range(10,15))

(10, 11, 12, 13, 14)

In [59]:
list("data")

['d', 'a', 't', 'a']

In [60]:
tuple("data")

('d', 'a', 't', 'a')

In [ ]:
#set(셋):파이썬에서 집합을 의미
#중괄호, 컴마로 구분

In [31]:
s1={1,2,3,1,2,4}
s1
s2={'hi','hello','bye','hi'}
s2 #자료가 랜덤하게 출력, 저장 순서가 없음 => 대괄호 기호를 사용하여 
#데이터 참조를 할 수 없음

{'bye', 'hello', 'hi'}

In [23]:
#리스트나 튜플에서는 데이터 참조시 대괄호([]) 기호를 사용
#리스트변수명[3] : 4번 index 자료 추출

In [24]:
#in 연산자 #true나 false로 반환
'key' in s2
'bye' in s2

#not in 연산자
'bye' not in s2

False

In [30]:
a=set("hello")
a

{'e', 'h', 'l', 'o'}

In [ ]:
range(5) #range객체 : 0~4까지 범위를 갖는 값들을 포장해놓은 포장물(객체)

#객체? 객체지향언어에 등장하는 클래스로부터 파생된 실체(인스턴스)

In [71]:
list(range(5)) #포장지를 뜯어서 리스트 형태로 만듦
tuple(range(5)) #포장지를 뜯어서 튜플 형태로 만듦
set(range(5)) #포장지를 뜯어서 집합 형태로 만듦

{0, 1, 2, 3, 4}

In [72]:
c=set()
c #공집합

set()

In [76]:
c={} #dictionary
type(c)

set

In [77]:
set("반가워요반가워") #중복 빼고 집합형식으로 반환반환

{'가', '반', '요', '워'}

In [32]:
a={10,20,30} #중괄호안에 데이터가 있어야 set으로 인식
b={30,40,50}
#c={} #dict임

In [33]:
type(a)

set

In [35]:
a | b #or 연산자, 합집합(union)
set.union(a,b) #위와 같은 의미

{10, 20, 30, 40, 50}

In [83]:
#교집합(intersection)
a & b #and 연산자, 교집합
set.intersection(a,b)

{30}

In [36]:
#차집합(difference)
a-b

{10, 20}

In [37]:
#대칭차집합, XOR 연산 
a ^ b

{10, 20, 40, 50}

In [38]:
a={10,20,30}

In [39]:
a.add(40)

In [40]:
a

{10, 20, 30, 40}

In [41]:
a.remove(20) #값을 지정해줘야함.
a

{10, 30, 40}

In [51]:
a.discard(20)
a

#a.remove(20) 에러발생 

#a.discard(20) 에러 발생 안함

{10, 30, 40}

In [52]:
a.pop()

40

In [53]:
a

{10, 30}

In [104]:
#집합은 자료의 순서가 유지가 안됨.
#set 자료구조는 자료의 저장 순서가 필요없으면서 중복을 제거해야 하는 상황에서 사용

In [105]:
a.clear()

In [106]:
a

set()

In [107]:
#대입연산자로 새로운 변수에 할당하게 되면, 셋이 2개가 아니라 여전히 1개

In [55]:
s2={10,20,30}
s=s2
s

{10, 20, 30}

In [116]:
s2.add(40)
s2

{10, 20, 30, 40}

In [117]:
s

{10, 20, 30, 40}

In [58]:
a={10,20,30}

In [59]:
#b=a동일한 집합
b=a.copy()

In [60]:
b #a는 원본, b는 사본

{10, 20, 30}

In [61]:
#is : 두 집합이 동일한지(메모리 상의 주소, 위치) 확인 
print(a is b)
#False의 의미? a 집합과 b 집합의 자료들이 메모리 상의 
#다른 위치에 저장되어 있다.


# == : 두 집합에 속해있는 요소{1,2,3}가 동일한지 확인
print(a == b)

False
True

In [ ]:
#단어 : 설명 
#딕셔너리 -> 키 : 값
#딕셔너리 : 키와 값(밸류, value)의 쌍으로 구성
#json파일이 딕셔너리 구조

In [6]:
#딕셔너리={키1:값1, 키2:값2,.... 키n:값n}

In [19]:
people={'name':'kim', #, 또는 빈게 있으면 안된다.
       'cp':114,
       'birth':'0707',
       10:'ten', #문자로 된 키를 사용하는 게 더 좋다.
       'cp':119,
       'gender':None,
       10:'ten',
       True:1,
       'nickname':['ai','robot'],
       'dic1':{'dict1, dict2'}} #키 이름이 중복되면 마지막 키에 해당하는 값이 저장

In [20]:
people

{'name': 'kim',
 'cp': 119,
 'birth': '0707',
 10: 'ten',
 'gender': None,
 True: 1,
 'nickname': ['ai', 'robot'],
 'dic1': {'dict1, dict2'}}

In [21]:
dic1={
    'name':'jung hyun seok',
    'address':'서울시 영등포구 당산로 31길 32, 103동 607호',
    'gender':'남',
    'kickname':'poeun',
    'hobby':'농구'
}

In [22]:
dic1

{'name': 'jung hyun seok',
 'address': '서울시 영등포구 당산로 31길 32, 103동 607호',
 'gender': '남',
 'kickname': 'poeun',
 'hobby': '농구'}

In [25]:
s={}
s=dict()

In [26]:
type(s)

dict

In [27]:
dict()

#people={'name':'kim', 'cp':114}

mydic=dict(name='kim',cp=114)

#mydic=dict('name'='kim','cp'=114) 에러 발생 
#키에 작은/큰 따옴푤르 사용하면 안됨!

In [28]:
mydic

{'name': 'kim', 'cp': 114}

In [29]:
#dict(name='kim', cp=114, 10='ten') /#오류
#people={'name':'kim', 'cp':114, 10:'ten'} #가능

In [31]:
#dict함수와 zip함수를 활용하여 딕셔너리를 생성 
#잘 사용하지 않는 방법

dict(zip(['one','two'], [1,2]))

{'one': 1, 'two': 2}

In [32]:
#딕셔너리와 키에 연결된 값을 추출하는 방법 
mydic['name']

'kim'

In [33]:
mydic['cp']=119

In [34]:
mydic

{'name': 'kim', 'cp': 119}

In [35]:
mydic['bloodtype']='B'

In [36]:
mydic

{'name': 'kim', 'cp': 119, 'bloodtype': 'B'}

In [37]:
mydic['addr']

KeyError: 'addr'

In [39]:
'name' in mydic

'addr' not in mydic

True

In [40]:
len(mydic) #몇 쌍 있느냐

3

In [42]:
mydic.keys()

dict_keys(['name', 'cp', 'bloodtype'])

In [43]:
for k in mydic.keys():
    print(k)

name
cp
bloodtype

In [44]:
mydic.values()

dict_values(['kim', 119, 'B'])

In [45]:
for k in mydic.values():
    print(k)

kim
119
B

In [46]:
mydic.items()

dict_items([('name', 'kim'), ('cp', 119), ('bloodtype', 'B')])

In [49]:
list(mydic.items())
#1개의 리스트 내부에 3개의 튜플이 존재 
#각 튜플은 2개의 요소로 구성
list(mydic.items())[2][1]

'B'

In [50]:
mydic.clear()

In [51]:
mydic

{}

In [54]:
li=[('name', 'kim'), ('cp', 119), ('bloodtype', 'B')]
li

[('name', 'kim'), ('cp', 119), ('bloodtype', 'B')]

In [55]:
mydic=dict(li)
mydic0

{'name': 'kim', 'cp': 119, 'bloodtype': 'B'}

In [58]:
mydic['cp'] #mydic.get('cp')

#mydic['addr'] #해당 키가 없는 경우에는 에러 발생
mydic.get('addr', '서울')

#bloodtype 키가 존재하면 값을 리턴, 키가 존재하지 않으면 A를 디펄토값으로 리턴
mydic.get('bloodtype', 'A')

'B'

In [59]:
mydic

{'name': 'kim', 'cp': 119, 'bloodtype': 'B'}

In [60]:
'nickname' in mydic

False

In [61]:
del mydic['cp']

In [62]:
mydic

{'name': 'kim', 'bloodtype': 'B'}

In [ ]:
#딕셔너리 연습#

In [63]:
t={'새우깡':1000, '감자칩':2000, '여구르트':500}

In [64]:
t

{'새우깡': 1000, '감자칩': 2000, '여구르트': 500}

In [65]:
t['생수']=500

In [66]:
t

{'새우깡': 1000, '감자칩': 2000, '여구르트': 500, '생수': 500}

In [67]:
t['새우깡']

1000

In [69]:
t['감자칩']=1500
t

{'새우깡': 1000, '감자칩': 1500, '여구르트': 500, '생수': 500}

In [72]:
del t['여구르트']

KeyError: '여구르트'

In [73]:
t

{'새우깡': 1000, '감자칩': 1500, '생수': 500}

In [ ]:
# 새우깡 1000 5 
# 생수 500 10

In [74]:
가격={'새우깡':1000,'생수':500}
재고={'새우깡':5, '생수':10}

In [75]:
제품={'새우깡':[1000,5], '생수':[500,10]}

In [76]:
제품

{'새우깡': [1000, 5], '생수': [500, 10]}

In [83]:
제품['생수']

[500, 10]

In [85]:
str(가격['새우깡'])+'원'

'1000원'

In [87]:
print(str(가격['새우깡'])+'원', str(재고['새우깡'])+'개')

1000원 5개

In [ ]:
제품={'새우깡':[1000,5], '생수':[500,10]}
#생수의 재고량을 출력

In [100]:
print(str(list(제품.items())[1][1][1])+'개')

10개

In [101]:
print(제품['생수'][1])

10

In [102]:
제품.keys()

dict_keys(['새우깡', '생수'])