In [7]:
i=1
while True:
    print(i, end=" ")
    i+=1
    if i==100:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [8]:
#무한루프는 while True:로 표시
for i in range(10):
    if i%2==1:
        continue 
    print(i, end=" ")

0 2 4 6 8

In [ ]:
# for i in range(3): #i=0
#     for j in range(2): #j=0,1
#         문장1 #3*2번
#         문장2 #3*2번
#     문장3
#     문장4
# 문장5
# 문장6

In [11]:
for i in range(4):
    for j in range(3):
        print("*", end="")
    print()

***
***
***
***

In [12]:
a=[]
a.append(10)
a

[10]

In [24]:
a=[10,15,20,30,40]
a[:3]+[25,27]+a[3:]

[10, 15, 20, 25, 27, 30, 40]

In [25]:
a=[10,15,20,30,40]
#시작번호와 끝번호를 동일하게 하면 여러 개의 데이터를 추가할 수 있음
a[3:3]=[25,27]
a

[10, 15, 20, 25, 27, 30, 40]

In [27]:
# pop은 보통 마지막요소 삭제, 
# 특정 번호의 데이터 삭제 
# remove는 데이터 값을 찾아서 삭제

' pop은 보통 마지막요소 삭제, \n특정 번호의 데이터 삭제 \nremove는 데이터 값을 찾아서 삭제\n'

In [28]:
a=[1,2,3]
a.pop()
a

[1, 2]

In [30]:
a=[4,5,6]
a.remove(5)
a

[4, 6]

In [31]:
a=[4,5,6]
del a[1]
a

[4, 6]

In [35]:
a=[4,5,6]
a.index(5) #값을 인덱스값으로 반환
a.count(5)

1

In [40]:
a=[4,5,6,4]
a.sort(reverse=True) #a에는 정렬된 결과가 저장됨
a

[6, 5, 4, 4]

In [38]:
a=[4,5,6,4]
sorted(a) #정렬된 거를 잠깐 보겠다. 저장x

[4, 4, 5, 6]

In [50]:
a
# a.clear()
del a[:]
a

[]

In [52]:
a=[100,200]
a.extend([300,400])
a

[100, 200, 300, 400]

In [53]:
a=[100,200]
a[len(a):]=[300,400]
a

[100, 200, 300, 400]

In [55]:
a 

if len(a): # len(a) != 0
    print("비어있지 않음")
else:
    print("비어있음")

비어있지 않음

In [56]:
if a: #a에 데이터가 있으므로 참
    print("비어있지 않음")

비어있지 않음

In [6]:
a=[3,1,2,4,5]
for idx, v in enumerate(a, start=1):
    # print(idx) #index번호
    # print(v)
    print(idx, v)

1 3
2 1
3 2
4 4
5 5

In [8]:
a=[3,-2,5,1,-6]
for i in a:
    if i<0:
        continue
    else:
        print(i, end=" ")

3 5 1

In [9]:
a=[3,-2,5,1,-6]
for i in a:
    if i>0:
        continue
    else:
        a.remove(i)
print(a)

[3, 5, 1]

In [11]:
a=[3,7,1,5,2]

#a리스트에서 최소값 #최대값은 부호 반대로
small=a[0]
for i in a:
    if i < small:
        small=i
print(small)

1

In [95]:
a.sort()
a[0]
a.sort(reverse=True)
a[0]

'e'

In [19]:
min(a)
max(a)

7

In [22]:
a=[3,7,1,5,2]
sum(a)

18

In [27]:
# list comprehension(리스트 내포(표현식)) : 리스트 내부에 for, if문 등을 사용 
# -> 리스트 생성
#리스트표현식 작성법
# [식 for 변수 in 리스트]
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# li=[]
# for i in range(10):
#     li.append(i)
# li

list((x for x in range(10))) #제너레이터 #x는 임시로 사용되는 변수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
#리스트 내포를 이용하여 10~20까지 값을 갖는 리스트를 생성
[x for x in range(10,21)] #이거 자체가 리스트이기 때문에 뒤에 인덱스 붙여줘도 됨

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
a=[i*5 for i in range(6)]
a

[0, 5, 10, 15, 20, 25]

In [54]:
# [식 for 변수, 리스트 if 조건식 ]
[i for i in range(10) if i%2 == 0]

"""
1) range(10) => 0,1,2,,...9 먼저 수행 
2) if i%2==0 => 짝수만 뽑아냄
3) 뽑아낸 짝수가 i에 전달되어 리스트가 생성됨
"""

'\n1) range(10) => 0,1,2,,...9 먼저 수행 \n2) if i%2==0 => 짝수만 뽑아냄\n3) 뽑아낸 짝수가 i에 전달되어 리스트가 생성됨\n'

In [62]:
[i*3 for i in range(10) if i%2] #조건이 0이면 거짓

[3, 9, 15, 21, 27]

In [3]:
a=['a','b','c','d','e']
b=['A','B','C','D','E']

In [4]:
# [i+j for i in a for j in b]

# mylist=[]
# for i in a:
#     for j in b:
#         mylist.append(i+j)
# mylist

[i+j for i in a for j in b]

['aA',
 'aB',
 'aC',
 'aD',
 'aE',
 'bA',
 'bB',
 'bC',
 'bD',
 'bE',
 'cA',
 'cB',
 'cC',
 'cD',
 'cE',
 'dA',
 'dB',
 'dC',
 'dD',
 'dE',
 'eA',
 'eB',
 'eC',
 'eD',
 'eE']

In [89]:
for i in range(2,10):
    gugu=[]
    for j in range(1,10):
        gugu.append(i*j)
    print("%d단 : " % i,gugu)

2단 :  [2, 4, 6, 8, 10, 12, 14, 16, 18]
3단 :  [3, 6, 9, 12, 15, 18, 21, 24, 27]
4단 :  [4, 8, 12, 16, 20, 24, 28, 32, 36]
5단 :  [5, 10, 15, 20, 25, 30, 35, 40, 45]
6단 :  [6, 12, 18, 24, 30, 36, 42, 48, 54]
7단 :  [7, 14, 21, 28, 35, 42, 49, 56, 63]
8단 :  [8, 16, 24, 32, 40, 48, 56, 64, 72]
9단 :  [9, 18, 27, 36, 45, 54, 63, 72, 81]

In [94]:
print([i*j for i in range(2,10)
           for j in range(1,10)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [97]:
[i for i in range(30) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [98]:
[i for i in range(30) if i%2==0 and i%3==0] #6의 배수

[0, 6, 12, 18, 24]

In [99]:
[i for i in range(30) if i%2==0 if i%3==0]

[0, 6, 12, 18, 24]

In [102]:
#리스트 내포에서 else 도 사용 가능. 단, elif는 불가
#0~9까지 수를 리스트에 저장하고자 하는데,
#짝수는 even, 홀수는 odd

['even' if i%2==0 else 'odd' for i in range(10)] #출력하고자 하는 값이 조건에 따라 다르면 for 앞에 위치

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [105]:
['zero' if i==0 else 'even' if i%2==0 else 'odd' for i in range(10)]

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']