In [2]:
x=[1,2,3]
print(x)
print(*x) #unpacking : 리스트 안의 각각의 요소를 출력해준다.
print(*[1,2,3])

[1, 2, 3]
1 2 3
1 2 3

In [4]:
def printNum(*args):
    for i in args:
        print(i)

printNum(1,2,3)
printNum(*[1,2,3])

1
2
3
1
2
3

In [5]:
def perinfo(n, a, addr):
    print(n, a, addr)

In [6]:
perinfo(a=30, addr='서울', n='김')

김 30 서울

In [7]:
#패킹과 언패킹 
#패킹 : 여러개의 데이터를 묶어서 변수 1개에 저장 
#언패킹: 변수 1개에 저장된 데이터를 풀어서 여러 개의 변수에 나누어 저장

In [8]:
num=(10,20,30,40,50) #패킹

In [10]:
(a,b,c,d,e)=num

In [14]:
a,b,_,d,e=num # _ : 해당 자리의 데이터를 버리겠다.(무시한다.) 이것도 변수의 일종

In [16]:
num

(10, 20, 30, 40, 50)

In [18]:
x=num[0]
y=num[1]
z=num[2:]

In [19]:
x,y,*z=num #나머지 데이터 전체를 리스트에 담아 저장

In [23]:
print(x)
print(y)
print(z)

10
20
[30, 40, 50]

In [24]:
*x,y,z=num # *별 부분이 마지막에 실행된다.

In [25]:
x

[10, 20, 30]

In [26]:
x,*y,z=num

In [27]:
y

[20, 30, 40]

In [28]:
def dString(year, month, day):
    return str(year)+'년'+str(month)+'월'+str(day)+'일'

In [32]:
date=(2021,7,14)
dString(*date)

'2021년7월14일'

In [33]:
dString(*[2021,7,14]) #코드가 간단해진다.

'2021년7월14일'

In [34]:
def test(*args):
    return sum(args)/len(args)

print(test(5,2))
print(test(1,2,3))

3.5
2.0

In [36]:
num
test(*num)

30.0

람다함수, 리스트내포  


lambda : 함수를 정의할 때 사용하는 예약어(함수(def)와 동일어) => 간단한 기능의 함수 정의할때  
def : 복잡한 기능을 갖는 함수 정의할 때 람다함수, 리스트내포  
 (익숙해지면 편해진다.)  / def를 사용할 수 없는 곳에 쓰임  

lambda : 함수를 정의할 때 사용하는 예약어(함수(def)와 동일어) => 간단한 기능의 함수 정의할때  

def : 복잡한 기능을 갖는 함수 정의할 때

In [39]:
def sum(a,b):
    return a+b

In [41]:
res=sum(10,20)
print(res)

30

In [42]:
#람다 함수(함수명이 없는 경우도 있음, 익명함수)
sum2=lambda a,b:a+b

In [44]:
sum2(10,20)

30

In [45]:
# lambda 매개변수(들):식

In [47]:
(lambda x:x+1)(5)

6

In [48]:
(lambda x,y:x+y)(5,10)

15

In [49]:
(lambda x,y=10:x+y)(5) #버전에 따라 오류가 발생할 수도 있음

15

In [51]:
y=10
(lambda x:x+y)(5)

15

In [67]:
#람다함수를 map함수의 인수로 전달하여 수행
def add(a):
    return a+1

x=[1,2,3]

#[2,3,4]가 출력
# for i in range(len(x)):
#     x[i]=add(x[i])
# print(x)


# x_add= []
# [x_add.append(add(i)) for i in x]
# x_add

[2, 3, 4]

In [68]:
def add(a):
    for i in range(len(a)):
        a[i] +=1 
    return a

x=[1,2,3]
add(x)

[2, 3, 4]

In [70]:
def add(a):
    return a+1
x=[1,2,3]

#[2,3,4]가 출력

list(map(add,x))

[2, 3, 4]

In [72]:
list(map(lambda a:a+1 , x)) #함수 익명, a받아. 각각 a+1해라

[2, 3, 4]

In [87]:
# lambda 매개변수 : 식 
# lambda 매개변수 : 조건식


def strEven(a):
    for i in range(len(a)):
        if a[i]%2 ==0:
            a[i]=str(a[i])
    print(a)

x=[1,2,3,4,5]
print(strEven(x))

[1, '2', 3, '4', 5]
None

In [88]:
x= [1,2,3,4,5]
[str(i) if i % 2 == 0 else i for i in x]

[1, '2', 3, '4', 5]

In [97]:
x = [1,2,3,4,5]
#람다식에 if문을 쓰는 경우에는 콜론기호를 사용하지 않는다.
#조건식=> 식 if 조건식 else 식 (반드시 else를 써야한다.)) 
list(map(lambda x:str(x) if x % 2 == 0 else x, x))

[1, '2', 3, '4', 5]

In [103]:
#조건식 => 식 if 조건식1 else 식2 if 조건식2 else 식3
x = [1,2,3,4,5]
list(map(lambda x:str(x) if x==1 else x/1 if x==2 else x , x))

['1', 2.0, 3, 4, 5]

In [113]:
x=[10, 20, 0, 5, 10]
y=[1, 0, 20, 15, 5]

list(map(lambda x,y:x*y, x,y))

#벡터의 내적 : 135

TypeError: sum() missing 1 required positional argument: 'b'

In [115]:
#절대값
abs(1)
abs(-1)

1

In [121]:
# any, all함수 
# all : 모두 참이면 참
all([10,20,-5])
all([10,0,-5])
print(all(["","hello","hi"])) #거짓 

#any : 하나 이상 참 -> 참
any([10,0,-5])

False

True

In [122]:
chr(122)
#유니코드를 전달받음, utf-8, 16, 32
#유니코드 : 전 세계의 모든 문자를 표현하기 위한 표준코드
#참고: 아스키코드는 0~127까지

'z'

In [131]:
ord('각')
ord('a')

97

In [133]:
divmod(9, 5) #몫, 나머지 => 튜플    
# divide+modular => 나누기 + 나머지

(1, 4)

In [136]:
#enumerate 함수 : 열거형 함수, 리스트(튜플,문자열)의
# 자료를 입력받아 (index, 자료) 형식으로 리턴
# 일반적으로 for와 함께 사용
# 자료의 위치를 찾을 때  
a=['a','b','c']
for i in enumerate(a):
    print(i)

for i in enumerate(a):
    print(i[0], i[1])

for i, data in enumerate(a):
    print(i, data)

(0, 'a')
(1, 'b')
(2, 'c')
0 a
1 b
2 c
0 a
1 b
2 c

In [140]:
#eval()
#연산이 가능한 문자열을 전달받아 연산 수행, 결과 도출

eval('1+2')

eval('abs(-3)') #함수도 가능

3

In [147]:
# filter() 함수
# 조건에 만족하는 자료들만 추출 (TrUE에 해당되는 값만 추출)
# filter(함수, 리스트(튜플...)): 함수에 정의한 조건을
# 만족하는 자료들만 필터링됨

#참고 : map 함수는 반복가능한 iterable 객체를 받아서, 각 요소에 함수를 적용해주는 함수
#map(적용시킬 함수, 적용할 요소들 filter() 함수
# # 조건에 만족하는 자료들만 추출 (TrUE에 해당되는 값만 추출)
# filter(함수, 리스트(튜플...)): 함수에 정의한 조건을
# 만족하는 자료들만 필터링됨

#참고 : map 함수는 반복가능한 iterable 객체를 받아서, 각 요소에 함수를 적용해주는 함수
#map(적용시킬 함수, 적용할 요소들)

def myFunc(data):


def myFunc(data):
    return data>3 and data<7

In [148]:
data=[8,1,5,2,6]
list(filter(myFunc, data))

[5, 6]

In [154]:
data=[8,1,5,2,6]
list(filter(lambda data:data>3 and data<7, data))

[5, 6]

In [157]:
data=[8,1,5,2,6]
list(map(lambda data:data>3 and data<7, data))

[False, False, True, False, True]

In [181]:
def pos(data):
     return data > 0 
             

data=[-1,3,2,-5,4]
list(filter(pos,data))

[3, 2, 4]

In [188]:
data=[1,2,3]

def mul(x):
    return x*2

list(map(mul, data))

[2, 4, 6]

In [189]:
data=[1,2,3]
list(map(lambda x:x*2, data))

[2, 4, 6]

In [190]:
data=[1,2,3]
for x in range(len(data)):
    data[x]=data[x]*2
print(data)

[2, 4, 6]

In [ ]:
# list(map(함수, 리스트))
# 리스트 요소->함수적용->list에 append ->...

In [197]:
max([2,1,3])
max(['test가']) #아스키코드가 기준
min(['test가'])

'test가'

In [201]:
#pow(): 제곱 
pow(3,2) # 3^2

#round() : 반올림 
round(3.6)
round(3.141592, 3) #소수 셋재짜리까지 나타냄

3.142

In [204]:
"Hi".lower()
"Hi".upper()

'HI'

In [207]:
# zip(): 자료들을 묶는 함수
list(zip([1,2],[3,4]))

[(1, 3), (2, 4)]

In [210]:
list(zip('hi', 'hello'))   #같은 위치에 있는 것끼리만 묶어줌

[('h', 'h'), ('i', 'e')]

In [213]:
list(zip([1,2], [3,4], [5,6,7]))

[(1, 3, 5), (2, 4, 6)]

In [214]:
#reduce(): 누적 함수
def myFunc(a,b):
    return a+b

In [221]:
from functools import reduce
x=[10,20,30,40,50]
reduce(myFunc,x)  #누적합
#파이썬 3.xx 버전에서는 지원이 안됨 -> import 해야함

#내장함수: import를 하지 않아도 사용 가능한 함수

150

파일압축: run-length기법, 허프만 압축방식(대기업 입사문제), ...  
run-length기법: bmp파일  

압축  
aaaaaaaabbbbbccc 16글자  
a8b5c3 6글자로 압축  
해제   
a8b5c3  
aaaaaaaabbbbbccc  

한계점  
abcdefedbacde  
a1b1c1...e1

In [230]:
'''
pack='aaaaaaaabbbbbccc'
acount=0
bcount=0
ccount=0

for i in pack:
    if i=='a':
        acount+=1
    elif i=='b':
        bcount+=1
    else:
        ccount+=1

print('a%db%dc%d' % (acount, bcount, ccount))
'''

a8b5c3

In [231]:
text='abbbaabb'

result = text[0]
count = 0 

for i in text:
    if i == result[-1]:
        count += 1
    else:
        result += str(count) +i
        count = 1 
result += str(count)
print(result)

a1b3a2b2