In [14]:
import numpy as np 
import pandas as pd
from numpy import dot
from numpy.linalg import norm

In [6]:
# 1. 다음 데이터를 이용하여 BTS가 아직 관람하지 않은 영화 중 어떤 영화를 추천하는게 좋을까요?
# 분석 결과와 함께 설명도 함께 해주시길 바랍니다.

영화추천 문제의 데이터를 아래에 제시한 데이터로 변경하여 작업하세요.

수행 평가 문제는 '우주소녀' 그룹이 '겨울왕국': 4.5, '사랑과전쟁': 1.0, '넘버3': 4.0 영화를 보고 평점을 남겼는데요.

'우주소녀' 그룹에게 어떤 영화를 추천할 것인가? 입니다.

해결 방법은 여러가지가 있는데요.

한 가지 방법을 말씀드리자면, 

1) '우주소녀' 그룹과 가장 유사한 그룹을 찾아야 하고,  

2) 해당 유사한 그룹이 높게 평점을 줬던 영화를 찾는것 이라고 할 수 있습니다

In [3]:
critics = {
    '레드벨벳': {
        '택시운전사': 2.5,
        '겨울왕국': 3.5,
        '리빙라스베가스': 3.0,
        '넘버3': 3.5,
        '사랑과전쟁': 2.5,
        '세계대전': 3.0,
    },
    'BTS': {
        '택시운전사': 2.0,
        '리빙라스베가스': 3.5,
        '넘버3': 2.5,
    },
    '블랙핑크': {
        '택시운전사': 3.0,
        '겨울왕국': 3.5,
        '리빙라스베가스': 1.5,
        '넘버3': 5.0,
        '세계대전': 3.0,
        '사랑과전쟁': 3.5,
    },
    '소녀시대': {
        '택시운전사': 2.5,
        '겨울왕국': 3.0,
        '넘버3': 3.5,
        '세계대전': 4.0,
    },
    '마마무': {
        '겨울왕국': 3.5,
        '리빙라스베가스': 3.0,
        '세계대전': 4.5,
        '넘버3': 4.0,
        '사랑과전쟁': 2.5,
    },
    '오마이걸': {
        '택시운전사': 3.0,
        '겨울왕국': 4.0,
        '리빙라스베가스': 2.0,
        '넘버3': 3.0,
        '세계대전': 3.5,
        '사랑과전쟁': 2.0,
    },
    '모모랜드': {
        '택시운전사': 3.0,
        '겨울왕국': 4.0,
        '세계대전': 3.0,
        '넘버3': 5.0,
        '사랑과전쟁': 3.5,
    },
    '우주소녀': {'겨울왕국': 4.5, '사랑과전쟁': 1.0,
             '넘버3': 4.0},
}

In [61]:
def Euclidean(A, B):
    return np.sqrt(((a-b)**2).sum())

In [73]:
df1 = pd.DataFrame(critics) 
df1

         레드벨벳  BTS  블랙핑크  소녀시대  마마무  오마이걸  모모랜드  우주소녀
택시운전사     2.5  2.0   3.0   2.5  NaN   3.0   3.0   NaN
겨울왕국      3.5  NaN   3.5   3.0  3.5   4.0   4.0   4.5
리빙라스베가스   3.0  3.5   1.5   NaN  3.0   2.0   NaN   NaN
넘버3       3.5  2.5   5.0   3.5  4.0   3.0   5.0   4.0
사랑과전쟁     2.5  NaN   3.5   NaN  2.5   2.0   3.5   1.0
세계대전      3.0  NaN   3.0   4.0  4.5   3.5   3.0   NaN

In [77]:
df1.fillna(0, inplace=True)

In [78]:
for group in df1.columns[:-1]:
    girl_sim = Euclidean(df1['우주소녀'] , df1[group])
    print(f'우주소녀와 {group}과의 유사도 : {girl_sim:.2f}')

우주소녀와 레드벨벳과의 유사도 : 2.83
우주소녀와 BTS과의 유사도 : 2.83
우주소녀와 블랙핑크과의 유사도 : 2.83
우주소녀와 소녀시대과의 유사도 : 2.83
우주소녀와 마마무과의 유사도 : 2.83
우주소녀와 오마이걸과의 유사도 : 2.83
우주소녀와 모모랜드과의 유사도 : 2.83

### 유클리디안으로 계산해보았지만 아쉽게도 모든 거리가 똑같이 나왔다.
### 따라서 다른 방법을 택했다.

In [15]:
def cos_sim(A, B):
    return dot(A, B)/(norm(A)*norm(B))

# 코사인 유사도 활용

In [68]:
df2 = pd.DataFrame(critics) 
df2

         레드벨벳  BTS  블랙핑크  소녀시대  마마무  오마이걸  모모랜드  우주소녀
택시운전사     2.5  2.0   3.0   2.5  NaN   3.0   3.0   NaN
겨울왕국      3.5  NaN   3.5   3.0  3.5   4.0   4.0   4.5
리빙라스베가스   3.0  3.5   1.5   NaN  3.0   2.0   NaN   NaN
넘버3       3.5  2.5   5.0   3.5  4.0   3.0   5.0   4.0
사랑과전쟁     2.5  NaN   3.5   NaN  2.5   2.0   3.5   1.0
세계대전      3.0  NaN   3.0   4.0  4.5   3.5   3.0   NaN

In [69]:
for title in df2.index:
    df2.loc[title].fillna(df2.loc[title].mean(), inplace=True)

In [70]:
df2

         레드벨벳       BTS  블랙핑크  소녀시대       마마무  오마이걸  모모랜드      우주소녀
택시운전사     2.5  2.000000   3.0   2.5  2.666667   3.0   3.0  2.666667
겨울왕국      3.5  3.714286   3.5   3.0  3.500000   4.0   4.0  4.500000
리빙라스베가스   3.0  3.500000   1.5   2.6  3.000000   2.0   2.6  2.600000
넘버3       3.5  2.500000   5.0   3.5  4.000000   3.0   5.0  4.000000
사랑과전쟁     2.5  2.500000   3.5   2.5  2.500000   2.0   3.5  1.000000
세계대전      3.0  3.500000   3.0   4.0  4.500000   3.5   3.0  3.500000

In [71]:
for group in df2.columns[:-1]:
    girl_sim = cos_sim(df['우주소녀'] , df2[group])
    print(f'우주소녀와 {group}과의 유사도 : {girl_sim:.2f}')

우주소녀와 레드벨벳과의 유사도 : 0.97
우주소녀와 BTS과의 유사도 : 0.95
우주소녀와 블랙핑크과의 유사도 : 0.93
우주소녀와 소녀시대과의 유사도 : 0.96
우주소녀와 마마무과의 유사도 : 0.97
우주소녀와 오마이걸과의 유사도 : 0.98
우주소녀와 모모랜드과의 유사도 : 0.95

In [79]:
df2.loc[['택시운전사', '리빙라스베가스', '세계대전']]['오마이걸']

택시운전사      3.0
리빙라스베가스    2.0
세계대전       3.5
Name: 오마이걸, dtype: float64

### 위 결과를 통해 우주소녀와 가장 유사한 그룹은 *오마이걸* 이다. 
### 다시 돌아와 우주소녀가 보지 않은 영화작품은 [택시운전사, 리빙라스베가스, 세계대전이다.]
### 이 중 우주소녀와 가장 유사한 그룹인 오마이걸을 참조했을 때 
### 세계대전이 평점이 가장 높고 전체 그룹의 평균또한 다른 영화보다 높기 때문에 

### 최종적으로 우주소녀에게 **세계대전**을 추천해준다.