1. 첫번째와 세번째 문자를 출력하세요.
 letters = 'python'

In [2]:
letters = 'python'
a=letters[0]
b=letters[2]

print(a)
print(b)

p
t

2.뒤에 4자리만 출력하세요.
 cn="24가 2210"

In [3]:
cn="24가 2210"
a=cn[-5:]
print(a)

 2210

3. 문자열에서 '파' 만 출력하세요.
s = "파이썬파이썬파이썬"

In [4]:
s = "파이썬파이썬파이썬"
a=s.split("이썬")
print(a)

['파', '파', '파', '']

4.문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [7]:
num_str = "720"
a=int(num_str)
print(a)
print(type(a))

720
<class 'int'>

5. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
data = "15.79"

In [8]:
data = "15.79"
a=float(data)
print(a)
print(type(a))

15.79
<class 'float'>

6. 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 
판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요.

In [9]:
airc=48584*36
print(airc)

1749024

7. jumin="850701-1234567"
생년월일과 주민번호를 분리하세요.
성별을 추출하세요.
태어난 월을 추출하세요.

In [16]:
jumin="850701-1234567"
fir,sec=jumin.split("-")
print(fir)
print(sec)

#성별 추출
if sec[0]=="1":
    print("이 사람은 남자")
else:
    print("이 사람은 여자")

a=fir[2:4]
print("이 사람의 태어난 월은 "+a)

850701
1234567
이 사람은 남자
이 사람의 태어난 월은 07