1.다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

In [2]:
ticker = "btc_krw"
a=ticker.upper()
print(a)

BTC_KRW

2.다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"

In [4]:
ticker = "BTC_KRW"
a=ticker.lower()
print(a)

btc_krw

3.다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"

In [8]:
a = "hello world"
b=a.split()
print(b)

['hello', 'world']

4.다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

In [9]:
ticker = "btc_krw"
b=ticker.split("_")
print(b)

['btc', 'krw']

5.다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-12-30"

In [12]:
date = "2020-12-30"
year, month, day = date.split("-")
print("연도 :", year)
print("월 : ", month)
print("일 : ", day)

연도 : 2020
월 :  12
일 :  30

6.문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "

In [14]:
data = "039490     "
data1=data.rstrip()
print(data1)

039490

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [17]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이: %d" % (name1, age1))
print("이름 : %s 나이: %d" % (name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

8. 문자열의 format( ) 메서드를 사용해서 7번 문제를 다시 풀어보세요.

In [18]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {0} 나이: {1}".format(name1, age1))
print("이름 : {0} 나이: {1}".format(name2, age2))

이름 : 김민수 나이: 10
이름 : 이철희 나이: 13

9. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
price = "5,969,782,550"

In [47]:
price = "5,969,782,550"
a=price.split(",")
b=int("".join(a))
print(b)
print(type(b))

5969782550
<class 'int'>

10. 다음과 같은 문자열에서 '2020/12'만 출력하세요.
분기 = "2020/12(E) (IFRS연결)"

In [24]:
분기 = "2020/12(E) (IFRS연결)"
b=분기[:7]
print(b)

2020/12

11. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'

In [26]:
string = 'abcdfe2a354a32a'
a=string.replace("a", "A")
print(a)

Abcdfe2A354A32A

12.
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보세요.
pin = "881120-1068234"

In [48]:
pin = "881120-1068234"
print(pin[7])

1

13.다음과 같은 문자열 a:b:c:d가 있다. a#b#c#d로 바꿔서 출력해 보세요.
a = "a:b:c:d"

In [32]:
a = "a:b:c:d"
hyun=list()
hyun=a.replace(":","#")
print(hyun)

a#b#c#d

14. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보세요.
(join 활용)

In [34]:
a=['Life', 'is', 'too', 'short']
print(" ".join(a))

Life is too short