1. 도시이름이 S로 시작하지 않는 도시만 리스트로 만들 때 리스트 컴프리헨션을 사용하여 함수를 작성해 보세요.

In [152]:
cities = ["Tokyo", "Shanghai", "Jakarta", "Seoul", "Guangzhou", "Beijing", "Karachi", "Shenzhen", "Delhi" ]

[cities[i] for i in range(len(cities)) if cities[i][0]!="S"]

['Tokyo', 'Jakarta', 'Guangzhou', 'Beijing', 'Karachi', 'Delhi']

2. 상자 최대 낙차 출력(삼성)  26개 상자 모두에 대해 낙차를 구함.
*2,3번 문제는 코드의 효율성을 고려하여 작성*

In [1]:
gravity=[7,4,2,0,0,6,0,7,0] 
#상자의 초기 상태 높이 #숫자 : 상자개수 #상자 높이 최대 출력 
#답 : 7
# 그림을 추상화를 어떻게 할건가

n = len(gravity)
m = 8
room = [[0] * m for _ in range(n)]

for i in range(n):
    for j in range(m):
        if gravity[i] !=0:
            room[i][j]=1
            gravity[i]-=1

room

[[1, 1, 1, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 0, 0, 0, 0],
 [1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [4]:
# 1이 1과 만나면 continue 
# 1이 0과 만나면 카운트 시작 
# 0이 1과 만나면 중지
max_count=0
for j in range(m):
    count=0
    for i in range(n):
        if room[i][j] ==1 and room[i+1][j] == 1:
            continue
        if room[i][j] ==1 and room[i+1][j] == 0:
            count+=1
            continue
        if room[i][j] == 1:
            count+=1
            if max_count < count:
                max_count == count
            break     #이론은 맞으나 수정필요
print(max_count)

0

3. 1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?(구글)
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)



=> 각 자리 숫자를 문자로 바꿔 같으면 카운트

In [161]:
total=0

for i in range(1,10001):
    b=str(i)
    c=list(b)

    for j in range(len(b)):
        if c[j]=="8":
            total+=1

print(total)

4000

In [155]:
'''4. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
1)
     *
    **
   ***
  ****
 *****
 '''

'4. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.\n1)\n     *\n    **\n   ***\n  ****\n *****\n '

In [156]:
i=1
while i<6:
    print(" "*(5-i)+"*"*i)
    i+=1

    *
   **
  ***
 ****
*****

In [157]:
'''
2)
     *
    ***
   *****
  *******
 *********
 '''

'\n2)\n     *\n    ***\n   *****\n  *******\n *********\n '

In [158]:
i=1 
while i<6:
    print(" "*(5-i) + "*"*(i*2-1))
    i+=1

    *
   ***
  *****
 *******
*********

5. for문을 사용해 2부터 100까지의 숫자 중에서 소수를(prime number) 출력해 보자.
*소수란? 1과 자기 자신으로만 나누어 떨어지는 수(ex. 2, 3, 5, 7, 11, 13,...)

In [159]:
for i in range(2,101):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97