1. 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

0, 1, 1, 2, 3, 5, 8, 13, ...  
입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.  
10 => 0, 1, 1, 2, 3, 5, 8

In [79]:
from functools import reduce
def myFunc(a,b):
    return a+b

def Fibonacci(n):
    x=[0,1]
    for i in range(100):
        x1=[]
        x1=x[i],x[i+1]
        if reduce(myFunc,x1)<=n:
            x.append(reduce(myFunc,x1))
        else:
            break
    print(x)

get_num1=int(input("정수 입력: "))
get_num2=int(input("정수 입력: "))
get_num3=int(input("정수 입력: "))
print('입력 받은 수 : ', get_num1, Fibonacci(get_num1))
print('입력 받은 수 : ', get_num2, Fibonacci(get_num2))
print('입력 받은 수 : ', get_num3, Fibonacci(get_num3))

[0, 1, 1, 2, 3, 5, 8]
입력 받은 수 :  10 None
[0, 1, 1, 2, 3, 5, 8, 13]
입력 받은 수 :  20 None
[0, 1, 1, 2, 3, 5, 8, 13, 21]
입력 받은 수 :  30 None

2. 다음(카카오) 입사문제(리스트로 푸세요)  
1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.  
(단 점들의 배열은 모두 정렬되어있다고 가정한다.)  
예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.m

In [21]:
def shortestPair(x): 
    distance=list()
    for i in range(len(x)-1):
        distance.append(x[i+1]-x[i]) #각각 거리 저장

    num=distance.index(min(distance)) #가장 짧을 때의 index 호출
    return x[num],x[num+1]

s=[1, 3, 4, 8, 13, 17, 20]
shortestPair(s)

(3, 4)

3. 문자열 바꾸기  
다음과 같은 문자열이 있다.  
a:b:c:d  
문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.  
a#b#c#d

In [24]:
str_list='a:b:c:d'
str_split= str_list.split(':')
print("#".join(str_split))

a#b#c#d

4. 리스트 평균 구하기  
다음은 A학급 학생의 점수를 나타내는 리스트이다.  
다음 리스트에서 60점 이상 점수의 평균을 구하시오.  
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [29]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

high_60=list(filter(lambda x:x>=60 , A))
print(sum(high_60)/len(high_60))

85.2

5. 유사도

n: 문자의 개수  
n=2일 경우,  
1) 2개씩 쪼갠다.  
'오늘', '늘 ', ' 멀', ..., '부했', '했다'  
'멀티', '티캠', '캠퍼', ..., '쉬웠', '웠다'    

2) 한 리스트 내에서 중복되는 단어는 제외시킨다.  

3) 길이가 더 긴 쪽을 기준으로 하여 유사도를 아래와 같이 계산.  
두 리스트에서 일치하는 단어가 12개였고  
예를 들어 2번째 리스트 길이가 25라면,  
12/25 = 0.5 --> 50% 유사하다

In [77]:
sen1 = "오늘 멀티캠퍼스에서 너무 쉬운 프로그래밍을 공부했다"
sen2 = "멀티캠퍼스에서 공부했던 오늘의 프로그래밍은 너무 쉬웠다"

def similarity(x, y, n):
    x_list=[]
    y_list=[]

    if n==2:
        for i in range(len(x)-1):
            x_list.append(x[i]+x[i+1])
        for j in range(len(y)-1):
            y_list.append(y[j]+y[j+1])

        x_set=set()
        y_set=set()

        article=0
        for i in x_list:
            for j in y_list:
                if i==j:
                    article+=1
        sim=article*100/len(y)
        print("두 문장의 유사도는 %.2f입니다." % sim)

    if n==3:
        for i in range(len(x)-2):
            x_list.append(x[i]+x[i+1]+x[i+2])
        for j in range(len(y)-2):
            y_list.append(y[j]+y[j+1]+y[j+2])

        article=0
        for i in x_list:
            for j in y_list:
                if i==j:
                    article+=1
        sim=article*100/len(y)
        print("두 문장의 유사도는 %.2f입니다." % sim) 


similarity(sen1, sen2, 2) #두 문장의 유사도는 68%입니다.
similarity(sen1, sen2, 3) #두 문장의 유사도는 53%입니다.

두 문장의 유사도는 66.67입니다.
두 문장의 유사도는 50.00입니다.

6. 0~9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0~9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.  

입력 예시: 0123456789 01234 01234567890 6789012345 012322456789  
출력 예시: True False False True False

In [37]:
def filtering(x):
    a=[]
    boolean=[]
    dataSplit=x.split(" ")

    for data in dataSplit:
        a=list(data) #다 받기
        b=set(data) #중복되면 제거
        if len(a)!=len(b): #비교
            boolean.append('False')
        else:
            boolean.append('True')
    return boolean
         
str_data=input('입력 예시: ')
filtering(str_data)

['True', 'True', 'False', 'True', 'False']

In [ ]:
'''
7. 입사 문제 (어려움)

카카오에 입사한 신입 개발자 네오는 “카카오계정개발팀”에 배치되어, 카카오 서비스에 가입하는 유저들의 아이디를 생성하는 업무를 담당하게 되었습니다. 
“네오”에게 주어진 첫 업무는 새로 가입하는 유저들이 카카오 아이디 규칙에 맞지 않는 아이디를 입력했을 때, 
입력된 아이디와 유사하면서 규칙에 맞는 아이디를 추천해 주는 프로그램을 개발하는 것입니다.
다음은 카카오 아이디의 규칙입니다.

아이디의 길이는 3자 이상 15자 이하여야 합니다.
아이디는 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.) 문자만 사용할 수 있습니다.
단, 마침표(.)는 처음과 끝에 사용할 수 없으며 또한 연속으로 사용할 수 없습니다.
“네오”는 다음과 같이 7단계의 순차적인 처리 과정을 통해 신규 유저가 입력한 아이디가 카카오 아이디 규칙에 맞는지 검사하고 
규칙에 맞지 않은 경우 규칙에 맞는 새로운 아이디를 추천해 주려고 합니다.
신규 유저가 입력한 아이디가 new_id라고 한다면,

 1단계 new_id의 모든 대문자를 대응되는 소문자로 치환합니다.
 2단계 new_id에서 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.)를 제외한 모든 문자를 제거합니다.
 3단계 new_id에서 마침표(.)가 2번 이상 연속된 부분을 하나의 마침표(.)로 치환합니다.
 4단계 new_id에서 마침표(.)가 처음이나 끝에 위치한다면 제거합니다.
 5단계 new_id가 빈 문자열이라면, new_id에 "a"를 대입합니다.
 6단계 new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
      만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.
 7단계 new_id의 길이가 2자 이하라면, new_id의 마지막 문자를 new_id의 길이가 3이 될 때까지 반복해서 끝에 붙입니다.

예를 들어, new_id 값이 “…!@BaT#*..y.abcdefghijklm” 라면, 위 7단계를 거치고 나면 new_id는 아래와 같이 변경됩니다.

…!@BaT#*..y.abcdefghijklm


1단계 대문자 ‘B’와 ‘T’가 소문자 ‘b’와 ‘t’로 바뀌었습니다.
"...!@BaT#*..y.abcdefghijklm" → "...!@bat#*..y.abcdefghijklm"

2단계 ‘!’, ‘@’, ‘#’, ‘*’ 문자가 제거되었습니다.
"...!@bat#*..y.abcdefghijklm" → "...bat..y.abcdefghijklm"

3단계 ‘…’와 ‘..’ 가 ‘.’로 바뀌었습니다.
"...bat..y.abcdefghijklm" → ".bat.y.abcdefghijklm"

4단계 아이디의 처음에 위치한 ‘.’가 제거되었습니다.
".bat.y.abcdefghijklm" → "bat.y.abcdefghijklm"

5단계 아이디가 빈 문자열이 아니므로 변화가 없습니다.
"bat.y.abcdefghijklm" → "bat.y.abcdefghijklm"

6단계 아이디의 길이가 16자 이상이므로, 처음 15자를 제외한 나머지 문자들이 제거되었습니다.
"bat.y.abcdefghijklm" → "bat.y.abcdefghi"

7단계 아이디의 길이가 2자 이하가 아니므로 변화가 없습니다.
"bat.y.abcdefghi" → "bat.y.abcdefghi"

따라서 신규 유저가 입력한 new_id가 “…!@BaT#*..y.abcdefghijklm”일 때, 네오의 프로그램이 추천하는 
새로운 아이디는 “bat.y.abcdefghi” 입니다.
'''

In [119]:
import re

new_id='...!@BaT#*..y.abcdefghijklm'

#1단계 new_id의 모든 대문자를 대응되는 소문자로 치환합니다.
new_id1=new_id.lower()
print(new_id1)

...!@bat#*..y.abcdefghijklm

In [120]:
#2단계 new_id에서 알파벳 소문자, 숫자, 빼기(-), 밑줄(_), 마침표(.)를 제외한 모든 문자를 제거합니다.
new_id1_1=list(new_id1)
new_id2=[]

for i in new_id1_1:
    if 97<=ord(i)<=122:
        new_id2.append(i)
    elif 48<=ord(i)<=57:
        new_id2.append(i)
    elif ord(i)==45 or ord(i)==46 or ord(i)==96:
        new_id2.append(i)

new_id2="".join(new_id2)
print(new_id2)

...bat..y.abcdefghijklm

In [121]:
#3단계 new_id에서 마침표(.)가 2번 이상 연속된 부분을 하나의 마침표(.)로 치환합니다.
for i in range(10,1,-1):
    if '.'*i in new_id2:
        new_id2=new_id2.replace('.'*i, '.')
new_id3=new_id2

print(new_id3)

.bat.y.abcdefghijklm

In [122]:
# 4단계 new_id에서 마침표(.)가 처음이나 끝에 위치한다면 제거합니다.
new_id3_1=list(new_id3)
if new_id3_1[0]=='.':
    new_id3_1.pop(0)
elif new_id3_1[-1]=='.':
    new_id3_1.pop(-1)

new_id4="".join(new_id3_1)

print(new_id4)

bat.y.abcdefghijklm

In [123]:
#  5단계 new_id가 빈 문자열이라면, new_id에 "a"를 대입합니다.
if new_id4==[]:
    new_id5=new_id4.append('a')
else:
    new_id5=new_id4

print(new_id5)

bat.y.abcdefghijklm

In [124]:
# 6단계 new_id의 길이가 16자 이상이면, new_id의 첫 15개의 문자를 제외한 나머지 문자들을 모두 제거합니다.
#만약 제거 후 마침표(.)가 new_id의 끝에 위치한다면 끝에 위치한 마침표(.) 문자를 제거합니다.
if len(new_id5)>=16:
    new_id6=new_id5[0:15]
    print(new_id6)
    if new_id6[-1]=='.':
        new_id6.pop()
        print(new_id6)
else:
    new_id6=new_id5
    print(new_id6)

bat.y.abcdefghi

In [125]:
# 7단계 new_id의 길이가 2자 이하라면, new_id의 마지막 문자를 new_id의 길이가 3이 될 때까지 반복해서 끝에 붙입니다.


if len(new_id6)<=2:
    last_num=new_id6[-1]
    new_id7=[]
    i=0
    while i <= 3:
        new_id7=new_id6.append(last)
        i=len(new_id7)
    print(new_id7)
else:
    new_id7=new_id6
    print(new_id7)

bat.y.abcdefghi