In [2]:
import numpy as np
import pandas as pd

In [7]:
samsung = pd.read_csv('E:/Downloads/005930.KS.csv') ; samsung

           Date     Open     High      Low    Close     Adj Close    Volume
0    2020-08-03  57800.0  57900.0  56700.0  56800.0  54581.597656  21158940
1    2020-08-04  57200.0  58100.0  57000.0  57300.0  55062.070313  19419694
2    2020-08-05  57300.0  57500.0  56300.0  56900.0  54677.695313  17739706
3    2020-08-06  57100.0  58400.0  57100.0  58000.0  55734.734375  21625874
4    2020-08-07  57900.0  58400.0  57100.0  57500.0  55254.265625  18751717
..          ...      ...      ...      ...      ...           ...       ...
243  2021-07-27  79200.0  79400.0  78500.0  78500.0  78500.000000  11427693
244  2021-07-28  78300.0  79200.0  78100.0  79200.0  79200.000000  12743417
245  2021-07-29  78800.0  79400.0  78800.0  79000.0  79000.000000  14360453
246  2021-07-30  78900.0  78900.0  78500.0  78500.0  78500.000000  13823411
247  2021-08-02  79200.0  79500.0  78700.0  79300.0  79300.000000  11626260

[248 rows x 7 columns]

In [20]:
ohlcvs= samsung.columns[1:]

for ohlcv in list(ohlcvs):
    print(f'{ohlcv}: ')
    print(np.array(samsung[ohlcv]).min())
    print(np.array(samsung[ohlcv]).max())
    print(np.array(samsung[ohlcv]).mean())
    print(np.array(samsung[ohlcv]).std())
    print(np.array(samsung[ohlcv]).var())
    print()

Open:
54100.0
90300.0
74162.09677419355
10790.24045848493
116429289.15192507

High:
54800.0
96800.0
74876.6129032258
10910.764208997904
119044775.62434965

Low:
54000.0
89500.0
73531.45161290323
10714.256909306703
114795301.11862645

Close:
54000.0
91000.0
74154.83870967742
10787.267396204252
116365137.87721124

Adj Close:
51890.960938
90198.078125
73000.40886487097
11531.26437368588
132970058.05583721

Volume:
8330969
90306177
20620105.64112903
9127870.865171168
83318026531240.64

In [27]:
def Zscores(x_series):
    return (x_series - x_series.mean()) / x_series.std()

In [34]:
x = pd.DataFrame()

for ohlcv in ohlcvs:
    series1 = Zscores(samsung[ohlcv])
    x[ohlcv]=series1

In [38]:
x= x.set_index(samsung['Date']) #표준화
x

                Open      High       Low     Close  Adj Close    Volume
Date
2020-08-03 -1.513319 -1.552811 -1.567769 -1.605579  -1.594070  0.058913
2020-08-04 -1.568813 -1.534517 -1.539826 -1.559322  -1.552487 -0.131245
2020-08-05 -1.559564 -1.589398 -1.605027 -1.596328  -1.585753 -0.314924
2020-08-06 -1.578061 -1.507077 -1.530511 -1.494562  -1.494271  0.109964
2020-08-07 -1.504070 -1.507077 -1.530511 -1.540819  -1.535853 -0.204277
...              ...       ...       ...       ...        ...       ...
2021-07-27  0.465952  0.413744  0.462797  0.401992   0.475966 -1.005038
2021-07-28  0.382712  0.395450  0.425538  0.466752   0.536548 -0.861186
2021-07-29  0.428956  0.413744  0.490740  0.448249   0.519239 -0.684390
2021-07-30  0.438205  0.368010  0.462797  0.401992   0.475966 -0.743106
2021-08-02  0.465952  0.422890  0.481426  0.476004   0.545203 -0.983328

[248 rows x 6 columns]

In [61]:
today_close = x['Close'][-1]

In [78]:
y=abs(x['Close'] - today_close)[:-1]
x['similiar']=y

In [80]:
x.sort_values(by='similiar')

,Open,High,Low,Close,Adj Close,Volume,similiar
Date,,,,,,,
2021-07-23,0.512197,0.459477,0.527998,0.476004,0.545203,-1.259652,0.000000
2021-07-28,0.382712,0.395450,0.425538,0.466752,0.536548,-0.861186,0.009251
2021-07-09,0.502948,0.450331,0.509369,0.485255,0.553857,0.229652,0.009251
2021-05-20,0.484450,0.441184,0.518684,0.494507,0.532184,-0.445892,0.018503
2021-07-14,0.484450,0.432037,0.518684,0.494507,0.562512,-0.988863,0.018503
...,...,...,...,...,...,...,...
2020-08-28,-1.670551,-1.699159,-1.688858,-1.735100,-1.710501,-0.656025,2.211104
2020-09-02,-1.809285,-1.808920,-1.809947,-1.827615,-1.793667,-0.406106,2.303618
2020-09-01,-1.855529,-1.836360,-1.809947,-1.846118,-1.810300,-0.137431,2.322121
2020-08-31,-1.679800,-1.717452,-1.819261,-1.864621,-1.826933,1.317606,2.340624
2021-08-02,0.465952,0.422890,0.481426,0.476004,0.545203,-0.983328,NaN