In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('e:/data/gapminder.tsv', sep="\t")
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [3]:
# 1. 전체 국가 개수?
len(df.country.unique())

142

In [4]:
# 2. 대륙 개수?
len(df.continent.unique())

5

In [5]:
# 3. 대륙별 국가 개수?
df.groupby('continent').country.count()

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
Name: country, dtype: int64

In [6]:
# 4. 국가별 lifeExp(기대수명치)의 평균
df.groupby('country').lifeExp.mean()

country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64

In [7]:
# 5. 대륙별 lifeExp(기대수명치)의 평균
df.groupby('continent').lifeExp.mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [8]:
# 6. 대륙별 lifeExp(기대수명치)가 가장 높은 상위/하위 5개 국가 추출 
df1=pd.DataFrame(df.groupby(['continent','country']).pop.mean().sort_values(ascending=False)) ;df1
df1= df1.reset_index(drop=False);df1
df1= df1.set_index('continent');df1

for continent in df.continent.unique():
    print(df1.loc[continent].iloc[:5])
    print(df1.loc[continent].iloc[-5:])
    print()

             country           pop
continent
Asia           China  9.581601e+08
Asia           India  7.011307e+08
Asia       Indonesia  1.483228e+08
Asia           Japan  1.117588e+08
Asia        Pakistan  9.368339e+07
                      country           pop
continent
Asia       West Bank and Gaza  1.848606e+06
Asia                 Mongolia  1.734851e+06
Asia                     Oman  1.438205e+06
Asia                   Kuwait  1.206496e+06
Asia                  Bahrain  3.739132e+05

                  country           pop
continent
Europe            Germany  7.754704e+07
Europe     United Kingdom  5.608780e+07
Europe              Italy  5.453696e+07
Europe             France  5.295256e+07
Europe             Turkey  4.590901e+07
              country           pop
continent
Europe        Ireland  3.340826e+06
Europe        Albania  2.580249e+06
Europe       Slovenia  1.794381e+06
Europe     Montenegro  5.642697e+05
Europe        Iceland  2.269781e+05

                    country           pop
continent
Africa              Nigeria  7.370802e+07
Africa                Egypt  4.652277e+07
Africa             Ethiopia  4.163252e+07
Africa     Congo, Dem. Rep.  3.268166e+07
Africa         South Africa  2.992835e+07
                         country            pop
continent
Africa                   Reunion  518497.750000
Africa                   Comoros  361683.916667
Africa         Equatorial Guinea  327551.000000
Africa                  Djibouti  260243.916667
Africa     Sao Tome and Principe  105977.833333

                 country           pop
continent
Americas   United States  2.282112e+08
Americas          Brazil  1.223121e+08
Americas          Mexico  6.841430e+07
Americas       Argentina  2.860224e+07
Americas        Colombia  2.725610e+07
                       country           pop
continent
Americas               Uruguay  2.912487e+06
Americas            Costa Rica  2.400008e+06
Americas               Jamaica  2.135123e+06
Americas                Panama  1.985290e+06
Americas   Trinidad and Tobago  1.006470e+06

               country           pop
continent
Oceania      Australia  1.464931e+07
Oceania    New Zealand  3.100032e+06
               country           pop
continent
Oceania      Australia  1.464931e+07
Oceania    New Zealand  3.100032e+06

In [9]:
# 7. 대륙별 기대수명치 최대값/최소값
df.groupby('continent').lifeExp.max()

continent
Africa      76.442
Americas    80.653
Asia        82.603
Europe      81.757
Oceania     81.235
Name: lifeExp, dtype: float64

In [10]:
df.groupby('continent').lifeExp.min()

continent
Africa      23.599
Americas    37.579
Asia        28.801
Europe      43.585
Oceania     69.120
Name: lifeExp, dtype: float64

In [11]:
# 8. 1952년 pop과 2007년 pop을 비교했을때
# 가장 차이가 큰 값은? 해당 국가명?
pop1952 = df[df['year']==1952][['country','pop']].reset_index(inplace=False).drop('index', axis=1)
pop1952

                country       pop
0           Afghanistan   8425333
1               Albania   1282697
2               Algeria   9279525
3                Angola   4232095
4             Argentina  17876956
..                  ...       ...
137             Vietnam  26246839
138  West Bank and Gaza   1030585
139         Yemen, Rep.   4963829
140              Zambia   2672000
141            Zimbabwe   3080907

[142 rows x 2 columns]

In [12]:
pop2007 = df[df['year']==2007][['country','pop']].reset_index(inplace=False).drop('index', axis=1)
pop2007

                country       pop
0           Afghanistan  31889923
1               Albania   3600523
2               Algeria  33333216
3                Angola  12420476
4             Argentina  40301927
..                  ...       ...
137             Vietnam  85262356
138  West Bank and Gaza   4018332
139         Yemen, Rep.  22211743
140              Zambia  11746035
141            Zimbabwe  12311143

[142 rows x 2 columns]

In [13]:
pop2007['diff_pop'] = pop2007[['pop']] - pop1952[['pop']]

In [14]:
pop2007

                country       pop  diff_pop
0           Afghanistan  31889923  23464590
1               Albania   3600523   2317826
2               Algeria  33333216  24053691
3                Angola  12420476   8188381
4             Argentina  40301927  22424971
..                  ...       ...       ...
137             Vietnam  85262356  59015517
138  West Bank and Gaza   4018332   2987747
139         Yemen, Rep.  22211743  17247914
140              Zambia  11746035   9074035
141            Zimbabwe  12311143   9230236

[142 rows x 3 columns]

In [15]:
pop2007[pop2007['diff_pop'] ==pop2007['diff_pop'].max()]

   country         pop   diff_pop
24   China  1318683096  762419569

In [16]:
# 9. 대륙별 gdp 평균/표준편차/분산
# -> 대륙별 비교 분석
df.groupby('continent').gdpPercap.mean()

continent
Africa       2193.754578
Americas     7136.110356
Asia         7902.150428
Europe      14469.475533
Oceania     18621.609223
Name: gdpPercap, dtype: float64

In [17]:
df.groupby('continent').gdpPercap.std()

continent
Africa       2827.929863
Americas     6396.764112
Asia        14045.373112
Europe       9355.213498
Oceania      6358.983321
Name: gdpPercap, dtype: float64

In [18]:
df.groupby('continent').gdpPercap.var()

continent
Africa      7.997187e+06
Americas    4.091859e+07
Asia        1.972725e+08
Europe      8.752002e+07
Oceania     4.043667e+07
Name: gdpPercap, dtype: float64

In [19]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [22]:
# 10. gdp 표준화
def standardzation(gr):
    return (gr.gdpPercap - gr.gdpPercap.mean()) / gr.gdpPercap.std()

In [24]:
standardzation(df)

0      -0.652895
1      -0.648694
2      -0.645423
3      -0.647138
4      -0.656898
          ...
1699   -0.660330
1700   -0.661622
1701   -0.651576
1702   -0.663791
1703   -0.684316
Name: gdpPercap, Length: 1704, dtype: float64