In [1]:
'''1)각 년도별로 가장 인기있는(비율이 높은) 이름 추출 ->
가장 빈도수가 높은 이름부터 낮은 이름순으로 10개 이름 출력
1880년~2010년 남자 아이 이름 1등=>['John','John', ..., 'Mary']

2) 
- names에서 성별로 나누었을때, 이름에 대한 모음 및 자음 비율?
- 남자 아이 이름에 대해 가장 많이 사용된 알파벳 문자?
- 여자 아이 이름에 대해 가장 많이 사용된 알파벳 문자?

3) adv.
남성 <-> 여성 크로스가 이루어진 이름


'''

"1)각 년도별로 가장 인기있는(비율이 높은) 이름 추출 ->\n가장 빈도수가 높은 이름부터 낮은 이름순으로 10개 이름 출력\n1880년~2010년 남자 아이 이름 1등=>['John','John', ..., 'Mary']\n\n2) \n- names에서 성별로 나누었을때, 이름에 대한 모음 및 자음 비율?\n- 남자 아이 이름에 대해 가장 많이 사용된 알파벳 문자?\n- 여자 아이 이름에 대해 가장 많이 사용된 알파벳 문자?\n\n3) adv.\n남성 <-> 여성 크로스가 이루어진 이름\n\n\n"

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns

In [3]:
names=pd.read_csv('names.csv', usecols=['name', 'sex', 'births', 'year', 'prop'])

In [4]:
names

              name sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
4           Minnie   F    1746  1880  0.019188
...            ...  ..     ...   ...       ...
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

[1690784 rows x 5 columns]

In [5]:
def topNameList(gr):
    top10_list=[]
    top10_dict={}
    for year in range(1880, 2011):
        years=list(gr[gr['year'] == year]['name'][:10])
        top10_list.append(years)
        top10_dict[f'{year}']=years

    return top10_dict

In [6]:
# topNameList(names)

In [7]:
def topOftop_name(gr):
    topNames={}
    for year in range(1880, 2011):
        topName = gr[(gr['year']==year) & (gr['sex']=='M')].name.iloc[0]
        topNames[f'{year}']= topName
        
    return topNames

In [8]:
namesTop = topOftop_name(names)

In [9]:
Counter(namesTop.values()).most_common()

[('John', 44),
 ('Michael', 44),
 ('Robert', 17),
 ('James', 13),
 ('Jacob', 12),
 ('David', 1)]

In [10]:
girls = names[names.sex=='F']
boys = names[names.sex=='M']

In [11]:
def get_vowels(gr):
    vow=['a', 'e', 'i', 'o', 'u']
    vows=[]
    non_vows=[]
    error1=0
    for name in list(gr['name']):
        eachName=name.lower()

        for obj in list(eachName):
            if obj in vow:
                vows.append(obj)
            else:
                non_vows.append(obj)

    print(f'총 모음 수 : {len(vows)}\n총 자음 수 : {len(non_vows)}\n모음 비율 : {(len(vows)/(len(non_vows)+len(vows)))*100:.2f}%')
    print(f'가장 많이 나온 모음 : {Counter(vows).most_common(1)}')
    print(f'가장 많이 나온 자음 : {Counter(non_vows).most_common(1)}')

In [12]:
get_vowels(girls)

총 모음 수 : 2771066
총 자음 수 : 3550542
모음 비율 : 43.83%
가장 많이 나온 모음 : [('a', 1107511)]
가장 많이 나온 자음 : [('n', 587306)]

In [60]:
get_vowels(boys)

총 모음 수 : 1616902
총 자음 수 : 2498850
모음 비율 : 39.29%
가장 많이 나온 모음 : [('a', 473874)]
가장 많이 나온 자음 : [('n', 367913)]

In [65]:
girl_prop = names[names['sex'] == 'F'].set_index('year').loc[1880, ['name', 'prop']]
girl_prop

           name      prop
year
1880       Mary  0.077643
1880       Anna  0.028618
1880       Emma  0.022013
1880  Elizabeth  0.021309
1880     Minnie  0.019188
...         ...       ...
1880        Ula  0.000055
1880     Vannie  0.000055
1880     Verona  0.000055
1880     Vertie  0.000055
1880      Wilma  0.000055

[942 rows x 2 columns]

In [66]:
boy_prop = names[names['sex'] == 'M'].set_index('year').loc[1880, ['name', 'prop']]
boy_prop

           name      prop
year
1880       John  0.087381
1880    William  0.086277
1880      James  0.053641
1880    Charles  0.048401
1880     George  0.046392
...         ...       ...
1880     Woodie  0.000045
1880     Worthy  0.000045
1880     Wright  0.000045
1880       York  0.000045
1880  Zachariah  0.000045

[1058 rows x 2 columns]

In [75]:
def intersection_to_prop(gr):
list(set(list(girl_prop['name'])) & set(list(boy_prop['name'])))[0]

'Mattie'

In [84]:
girl_prop.loc[girl_prop['name'] ==list(set(list(girl_prop['name'])) & set(list(boy_prop['name'])))[0]].prop

year
1880    0.007737
Name: prop, dtype: float64

In [93]:
def intersection_to_prop(gr1, gr2):
    return list(set(list(gr1['name'])) & set(list(gr2['name'])) )

In [95]:
intersection_to_prop(girl_prop, boy_prop)

['Mattie',
 'Clara',
 'Clair',
 'Frances',
 'Glenn',
 'Sidney',
 'Hope',
 'Jewel',
 'Connie',
 'Flora',
 'Dee',
 'Merle',
 'Hattie',
 'Theo',
 'Louie',
 'Ivy',
 'Oda',
 'Sammie',
 'Anna',
 'William',
 'Daisy',
 'Jesse',
 'Ethel',
 'Carrie',
 'Bertie',
 'Harry',
 'Ira',
 'Ida',
 'Edgar',
 'Marion',
 'Artie',
 'Rose',
 'Joe',
 'Emma',
 'Cecil',
 'Pearl',
 'Clarence',
 'George',
 'John',
 'Johnnie',
 'Elsie',
 'Thomas',
 'Clare',
 'Florence',
 'Ray',
 'Fred',
 'Willie',
 'Bennie',
 'Leo',
 'Charles',
 'Nora',
 'Jean',
 'Lonnie',
 'Annie',
 'Vernie',
 'Vivian',
 'Walter',
 'Claude',
 'Mary',
 'Minnie',
 'Ollie',
 'Jimmie',
 'Lou',
 'Alva',
 'Robert',
 'Myrtle',
 'Nellie',
 'Tommie',
 'James',
 'Ossie',
 'Dora',
 'June',
 'Elizabeth',
 'Ora',
 'Arthur',
 'Jennie',
 'Clyde',
 'Francis',
 'Addie',
 'Eliza',
 'Dell',
 'Lacy',
 'Augusta',
 'Henry',
 'Eddie',
 'Alpha',
 'Allie',
 'Jessie',
 'Lee',
 'Lynn',
 'Shirley',
 'Cleo',
 'Clifford',
 'Ruby',
 'Augustine',
 'Bird',
 'Lillie',
 'Alma',
 'Frank',
 'Leslie',
 'Erie',
 'Freddie',
 'Katherine',
 'Carey',
 'Edith',
 'Joseph',
 'Fay',
 'Hallie',
 'Cora',
 'Louis',
 'Grace']

In [100]:
gprop= girl_prop.loc[girl_prop['name'] ==intersection_to_prop(girl_prop, boy_prop)[0]].prop
bprop= boy_prop.loc[boy_prop['name'] ==intersection_to_prop(girl_prop, boy_prop)[0]].prop

In [108]:
gprop - bprop

year
1880    0.007692
Name: prop, dtype: float64