In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter

In [2]:
#samsung 변수에 담긴 배열을 이용하여 오늘 학습한 함수, 열, 행 추출

In [3]:
samsung=pd.read_csv('./samsung.csv') ; samsung

      Open   High    Low  Close    Adj Close    Volume
0    57000  58800  56400  58600  56560.60547  48431566
1    60300  60400  58600  59000  56946.68750  36476611
2    59700  60100  59000  59000  56946.68750  19285354
3    59500  59600  57700  57900  55884.96875  21943345
4    57800  57900  56700  56800  54823.25000  21158940
..     ...    ...    ...    ...          ...       ...
244  79000  79800  78900  79700  79700.00000  12618790
245  79700  79900  79200  79300  79300.00000   9098910
246  79400  79500  78800  78800  78800.00000  10040975
247  79200  79400  78500  78500  78500.00000  11427693
248  78300  78900  78100  78300  78300.00000  10191446

[249 rows x 6 columns]

In [4]:
print(samsung[['Open','Close']].head())
print(f"min :\n {samsung[['Open','Close']].min()}")
print(f"max :\n {samsung[['Open','Close']].max()}")
print(f"mean :\n {samsung[['Open','Close']].mean()}")

    Open  Close
0  57000  58600
1  60300  59000
2  59700  59000
3  59500  57900
4  57800  56800
min :
 Open     54100
Close    54000
dtype: int64
max :
 Open     90300
Close    91000
dtype: int64
mean :
 Open     73862.650602
Close    73844.176707
dtype: float64

In [5]:
samsung[(samsung['High'] > 85000) & (samsung['Volume'] > 30000000)]

      Open   High    Low  Close    Adj Close    Volume
110  83300  90000  83000  88800  88407.14844  59013307
111  90000  96800  89500  91000  90597.41406  90306177
112  90300  91400  87800  90600  90199.17969  48682416
113  89800  91200  89100  89700  89303.16406  36068848
115  89800  91800  88000  88000  87610.68750  33431809
116  86600  87300  84100  85000  84623.95313  43227951
117  84500  88000  83600  87000  86615.10938  39895044
120  89000  89700  86800  86800  86415.99219  30861661
122  88800  89200  86500  86700  86316.43750  33178936
124  83200  85600  83200  83700  83329.71094  31859808
142  84000  85400  83000  85300  84922.63281  34155986
144  85100  85300  83000  83600  83230.14844  33498180

In [6]:
samsung=np.loadtxt("samsung.csv", skiprows=1, delimiter=',') ; samsung

array([[   57000.     ,    58800.     ,    56400.     ,    58600.     ,
           56560.60547, 48431566.     ],
       [   60300.     ,    60400.     ,    58600.     ,    59000.     ,
           56946.6875 , 36476611.     ],
       [   59700.     ,    60100.     ,    59000.     ,    59000.     ,
           56946.6875 , 19285354.     ],
       ...,
       [   79400.     ,    79500.     ,    78800.     ,    78800.     ,
           78800.     , 10040975.     ],
       [   79200.     ,    79400.     ,    78500.     ,    78500.     ,
           78500.     , 11427693.     ],
       [   78300.     ,    78900.     ,    78100.     ,    78300.     ,
           78300.     , 10191446.     ]])

In [7]:
samsung[:][3]

array([   59500.     ,    59600.     ,    57700.     ,    57900.     ,
          55884.96875, 21943345.     ])

In [8]:
#모든 호칭을 추출하여 저장
#호칭 종류가 몇가지 출력 
#호칭 종류별 승객수 출력 
# ex) Mr : 500명 
# MrS : 400명

In [9]:
df=pd.read_csv('train.csv') ; df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [14]:
name=[re.findall(', [\w]+.', df['Name'][i]) for i in range(len(df['Name']))] ; name
try:
    name1=[name[i][0].replace(', ', '') for i in range(len(name))] ; name1
except:
    print('오류발생\n')
title=set(name1) ; print(f'{title}\n호칭 개수 :{len(title)}\n')

title_count=Counter(name1) ; title_count

{'Major.', 'Sir.', 'Mr.', 'Master.', 'Dr.', 'the ', 'Rev.', 'Mrs.', 'Mlle.', 'Col.', 'Jonkheer.', 'Ms.', 'Capt.', 'Don.', 'Miss.', 'Lady.', 'Mme.'}
호칭 개수 :17

Counter({'Mr.': 517,
         'Mrs.': 125,
         'Miss.': 182,
         'Master.': 40,
         'Don.': 1,
         'Rev.': 6,
         'Dr.': 7,
         'Mme.': 1,
         'Ms.': 1,
         'Major.': 2,
         'Lady.': 1,
         'Sir.': 1,
         'Mlle.': 2,
         'Col.': 2,
         'Capt.': 1,
         'the ': 1,
         'Jonkheer.': 1})

In [ ]:
# 3.카카오 신입 공채 코딩 테스트 문제
#
# 네오는 평소 프로도가 비상금을 숨겨놓는 장소를 알려줄 비밀지도를 손에 넣었다. 
# 그런데 이 비밀지도는 숫자로 암호화되어 있어 위치를 확인하기 위해서는 암호를 해독해야 한다. 
# 다행히 지도 암호를 해독할 방법을 적어놓은 메모도 함께 발견했다.
#
# 지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 “공백”(“ “) 또는 “벽”(“#”) 두 종류로 이루어져 있다.
# 전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 “지도 1”과 “지도 2”라고 하자. 
# 지도 1 또는 지도 2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도 1과 지도 2에서 모두 공백인 부분은 전체 지도에서도 공백이다.
# “지도 1”과 “지도 2”는 각각 정수 배열로 암호화되어 있다.
# 암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다.

#
# 네오가 프로도의 비상금을 손에 넣을 수 있도록, 비밀지도의 암호를 해독하는 작업을 도와줄 프로그램을 작성하라.
#
# 입력 형식
#
# 입력으로 지도의 한 변 크기 n 과 2개의 정수 배열 arr1, arr2가 들어온다.
#
# 1 ≦ n ≦ 16
# arr1, arr2는 길이 n인 정수 배열로 주어진다.
# 정수 배열의 각 원소 x를 이진수로 변환했을 때의 길이는 n 이하이다. 즉, 0 ≦ x ≦ 2^n - 1을 만족한다.
# 출력 형식
#
# 원래의 비밀지도를 해독하여 "#", 공백으로 구성된 문자열 배열로 출력하라.
#
# 입출력 예제
#
# 매개변수	값
# n	              5
# arr1	[9, 20, 28, 18, 11]
# arr2	[30, 1, 21, 17, 28]
# 출력	["#####","# # #", "### #", "#  ##", "#####"]
# 매개변수	값
# n	6
# arr1=[46, 33, 33 ,22, 31, 50]
# arr2=[27 ,56, 19, 14, 14, 10]
# 출력	["######", "###  #", "##  ##", " #### ", " #####", "### # "]


# 9 -> 01001, 20-> 10100, 28-> 11100, 18->10010, 11->01011
# 30->11110,  1->  00001, 21-> 10101, 17->10001, 28->11100
# --------------------------------------------------------------------------
    #   11111          10101          11101        10011        11111

In [ ]:
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

In [ ]:
arr3=[46, 33, 33 ,22, 31, 50]
arr4=[27 ,56, 19, 14, 14, 10]

In [ ]:
def puzzle(arr1,arr2):
    final_arr=[]
    for i in range(len(arr1)):
        arr1_to2=list(bin(arr1[i])[2:])
        arr2_to2=list(bin(arr2[i])[2:])

        j=1
        while j<6:
            if len(arr1_to2)!=len(arr1):
                arr1_to2.insert(0,'0')
                j+=1
            else:
                break
        convert_arr1=''.join(arr1_to2)
        # print(convert_arr1)
        j=1
        while j<6:
            if len(arr2_to2)!=len(arr2):
                arr2_to2.insert(0,'0')
                j+=1
            else:
                break
        convert_arr2=(''.join(arr2_to2))
        # print(convert_arr2)

        semi_arr=[]
        for z in range(len(convert_arr1)):
            if convert_arr1[z]=='0' and convert_arr2[z]=='0':
                semi_arr.append(' ')
            else:
                semi_arr.append('#')
        final_arr.append(''.join(semi_arr))
    # 
    return final_arr

print(puzzle(arr1, arr2))
print(puzzle(arr3, arr4))

['#####', '# # #', '### #', '#  ##', '#####']
['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']